$theme-color-primary: #1f850a;
$theme-color-primary-light: #395c32;
$theme-color-white: #ffffff;
$theme-color-review: #ff8800;
$bg-color-blue: #2d352c;
$theme-color-light-blue: #e0e7ea;
$contact-color-light: #e0f8d5;
$contact-color-dark: #8eb07f;
